
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:black;
}

h1{
    color:white;
    font-family: ubuntu;
    text-align: center;
    padding:30px;
    padding-bottom: 50px;
}

.score-board{
    background-color: white;
    font-family: ubuntu;
    text-align: center;
    width: 400px;
    padding:30px;
    margin: auto;
    font-size:100px;
    position:relative;
}

.user-tag{
    font-size:40px;
    position:absolute;
    left:0;
    top:0;
}

.computer-tag{
    font-size:40px;
    position:absolute;
    right:0;
    top:0;
}

.message {
    color:white;
    font:ubuntu;
    text-align:center;
    font-size:25px;
    padding:30px;
}

button{
    border:10px;
    cursor: pointer;
    outline: none;
}

.choices {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 80px;
}

.sign{
    font-size:100px;
}

.result{
    color:white;
    font:ubuntu;
    text-align:center;
    font-size:25px;
    padding:30px;
}